[submodule "lib/linum-plus"]
	path = lib/linum-plus
	url = https://github.com/emacsmirror/linum-plus
[submodule "lib/markdown-mode"]
	path = lib/markdown-mode
	url = https://github.com/emacsmirror/markdown-mode
[submodule "lib/go-mode"]
	path = lib/go-mode
	url = https://github.com/dominikh/go-mode.el
[submodule "lib/emacs-fish"]
	path = lib/emacs-fish
	url = https://github.com/wwwjfy/emacs-fish
[submodule "lib/dockerfile-mode"]
	path = lib/dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode
[submodule "lib/yaml-mode"]
	path = lib/yaml-mode
	url = https://github.com/yoshiki/yaml-mode
